{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h3 class="text-center mb-4">Bem-vindo, {{ user.username }}!</h3>
        <p class="text-center">Você está logado com sucesso.</p>
        {% if user.is_superuser %}
            <p class="text-center">
                <a href="{% url 'approve_users' %}" class="btn btn-primary">Aprovar Usuários</a>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}